@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .body { @apply w-[95vw] h-[80vh] m-auto } 
  .section { @apply w-full h-full }
}

.card_person::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
}

.card_person::-webkit-scrollbar {
  border: none;
  background-color: transparent;
}

.card_person::-webkit-scrollbar-thumb {
  background-color: transparent;
}